.title {
    font-size: 32px;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
}

.title > h1 {
    padding-bottom: .7rem;
}

.banner {
    background-color: #7289da;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.banner > p {
    font-size: 20px;
}